/*<------------------------Header Menu----------------------->*/
.menu{
    transition: all ease-in-out .5s;
    height: 0;
}

.menu-active .menu{
    height:300px;
}
/*<------------------------------------------------------------------>*/


/*<------------------Menu Show Active--------------------------->*/
.active, .btn:hover {
    /*text: #346eeb;*/
    /*color: black;*/
}
/*<------------------------------------------------------------------------> */
